@font-face {
    font-family: "Poppins Med";
    src: url("../font/Poppins-Medium.ttf"); 
}  

@font-face {
    font-family: "Noto Sans Med";
    src: url("../font/NotoSans-Medium.ttf"); 
}

@font-face {
    font-family: "Noto Sans SC";
    src: url("../font/NotoSansSC-Regular.otf"); 
}

@font-face {
    font-family: "Noto Sans SC Med";
    src: url("../font/NotoSansSC-Medium.otf"); 
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf"); 
}

@font-face {
    font-family: "Roboto Med";
    src: url("../font/Roboto-Medium.ttf"); 
}
