.app {
    font-family: "Noto Sans Med";
}

.userinfo {
    float: right;
    top: 50px;
    right: 50px;
    width: 200px;
    height: 50px;
    position: absolute
}

.userinfo_username {
    color: white;
    position: absolute;
    right: 70px;
    text-align: right;
    width: 200px;
}

.userinfo_gold_img {
    color: white;
    position: absolute;
    right: 170px;
    top: 27px;
    width: 10px;
    height: 10px;
}

.userinfo_gold_num {
    color: white;
    position: absolute;
    right: 120px;
    top: 22px;
    font-size: 12px;
    text-align: left;
    float: left;
    width: 40px
}

.userinfo_exp_img {
    color: white;
    position: absolute;
    right: 100px;
    top: 21px;
    width: 22px;
    height: 22px;
}

.userinfo_exp_num {
    color: white;
    position: absolute;
    right: 40px;
    top: 22px;
    font-size: 12px;
    width: 50px
}

.userinfo:hover::after {
    content: "";
    background-color: white;
    /* 遮罩的背景颜色 */
    opacity: 0.5;
    /* 遮罩的透明度 */
    width: 110%;
    /* 遮罩的宽度 */
    height: 150%;
    /* 遮罩的高度 */
    position: absolute;
    /* 遮罩的定位方式 */
    top: -15px;
    /* 遮罩的上边距 */
    left: 0px;
    /* 遮罩的左边距 */
    border-radius: 10px;
}

.container_live_title {
    display: flex;
    /* 设置容器为弹性盒 */ 
    flex-wrap: wrap; 
    /* 允许弹性盒换行 */
    top: 90px;
    left: 3%;
    width: 90%;
    position: relative;
}

.container {
    display: flex;
    /* 设置容器为弹性盒 */ 
    flex-wrap: wrap; 
    /* 允许弹性盒换行 */
    
    top: 120px;
    position: relative;
}

.container_anchor_info {
    display: flex;
    /* 设置容器为弹性盒 */ 
    flex-wrap: wrap; 
    /* 允许弹性盒换行 */
    top: 160px;
    left: 3%;
    width: 90%;
    position: relative;
}

#live_player {
    position: relative;
    left: 3%;
    flex: 1 1 70%;
    max-width: 70%; 
    height: 540px;
    border-radius: 15px;
}

#chat_area {
    position: relative;
    left: 7%;
    flex: 1 1 20%;
    max-width: 20%; 
    height: 540px; 
    border-radius: 15px; /* 设置圆角 */
}

@media (max-width: 768px) {
    /* 使用媒体查询来定义小屏幕下的样式 / #live_player, #chat_area { flex-basis: 100%; / 设置基准宽度为100% / max-width: 100%; / 设置最大宽度为100% */
}

div {
    font-family: "Poppins Med";
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
}